.date-input-wrapper {
	display: flex;
	flex-direction: column;
	height: 2rem;
	background-color: #282c34;
	padding: .5rem;
	border-radius: 8px;
}

.date-label {
	font-size: .75rem;
	color: white;
	font-weight: bold;
}

.date-input {
	border: 0;
	color-scheme: dark;
	background-color: #282c34;
	outline: none;
	color: white;
}